header {
    /* think about which properties you'd want to use to make the header */
    /* border-bottom color should be accent-background */
    display: flex;
    justify-content: space-between;
    border-bottom: #54a0ff solid;
    border-radius: 0px;
    margin-top: 32px;
    margin-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
}

input[type="search"] {
    border: 2.4px solid #ccc;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article h1 a {
    /*color should be accent-background */
    color: #54a0ff;
    text-decoration: none;
}

article {
    flex: 0 0 30%;
    min-width: 30ch;
    max-width: 50ch;
}